.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: whitesmoke;
}

.MainPanel {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  background-color: lightblue;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vh;
  margin-right: 10vh;
  border-radius: 25px;
}

.StatsPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: pink;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vh;
  margin-right: 5vh;
  border-radius: 25px;
}

.Timer {
  background-color: lightpink;
  border-radius: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 5vh;
  outline: 3px solid red;
  outline-offset: 8px;
  border: 10px solid red;
  margin-top: 3vh;
}

.Quotes {
  background-color: lightgray
}

.Entries {
  height: 50vh;
  overflow-y: auto;
}

#customInput {
  width: 10vh; /* must match length of input box */
}

#customSelect {
  display: flex;
  flex-direction: row;
}

.radioButtons {
  align-items: center;
}