.Entry {
    display: flex;
}

.header div {
    display: inline-block;
}

.div1 {
    float: left;
}

.div2 {
    float: right;
}

.edit {
    float: right;
    margin-top: 5px;
    margin-right: 15px;
}

#notes{
    float: left;
}