.MainPanel {
    display: flex;
}

.subtitle {
    font-style: oblique;
    margin-top: 3vh;
}

.mainlogo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    border: 3px solid green;
    border-radius: 15%;
    padding: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: palegreen;
    
}

.timeSince {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.Quotes {
    display: flex;
    height: 13vh;
    width: 50vw;
    border: 3px solid grey;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.Congrats {
    height: 13vh;
    width: 11vw;
}