.MainPanel {
    display: flex;
    outline: lightblue solid 5px;
    outline-offset: 10px;
}

.subtitle {
    font-style: oblique;
    margin-top: 3vh;
}

.mainlogo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    border: 4px solid green;
    border-radius: 15%;
    padding: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: palegreen;
}

.timeSince {
    margin-top: 2vh;
    margin-bottom: 2vh;
}