.MainPanel {
    display: flex;
}

.subtitle {
    font-style: oblique;
    margin-top: 3vh;
}

.mainlogo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    border: 3px solid green;
    border-radius: 15%;
    padding: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}