.StatsPanel {
    display: flex;
}

.history {
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, sans-serif;
}

.logo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
}

.success {
    margin: 4vh;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 3vh;
}

