.StatsPanel {
    display: flex;
    outline: pink solid 5px;
    outline-offset: 10px;
    flex: 3;
}

.history {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
}

.logo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    border: 4px solid green;
    border-radius: 15%;
    padding: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: palegreen;
}

.success {
    margin: 4vh;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 3vh;
}

#motivate{
    width: 100%;
    height: 100%;
}