.StatsPanel {
    display: flex;
}

.history {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
}

.logo {
    color: green;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    border: 3px solid green;
    border-radius: 15%;
    padding: 5px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.success {
    margin: 4vh;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 3vh;
}

