.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vh;
  height: 100vh;
}

.MainPanel {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  background-color: lightblue;
}

.StatsPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: lightgreen;;
}

.Timer {
  background-color: lightpink;
}

.Quotes {
  background-color: lightgray
}