.App {
  text-align: center;
  display: flex;
  width: 100%;
}

.MainPanel {
  background-color: lightblue;
  width: 60%;
}

.StatsPanel {
  background-color: lightgreen;
  width: 40%;
}

.Timer {
  background-color: lightpink;
}

.Quotes {
  background-color: lightgray
}